<nav class="navbar main-navbar navbar-expand-lg navbar-primary">
    <div class="container">
        <a href="" class="navbar-brand text-white">Shows & Events Chelas Application</a>
    </div>
    <div class="container d-flex justify-content-center align-items-center search-container sticky-top">
        <form class="d-flex col-12" id="search-form">
            <div class="input-group border border-white rounded-pill sticky-top">
                <input class="form-control me-2 border-0 rounded-pill" id="search-input" type="search"
                       placeholder="Search for a specific event" aria-label="Search" required >
                <button class="btn btn-search text-white mb-2 border-0 rounded-pill" type="submit" id="search-button"><i
                        class="fas fa-search"></i></button>
            </div>
        </form>
    </div>
    <div class="container justify-content-end ">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropDownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bars fa-lg"></i>
            </button>
            <div class="dropdown-menu bg-primary shadow dropdown-menu-end" aria-labelledby="dropDownMenuButton">
                <button id="create-group" class="btn btn-primary dropdown-button">Create a group</button>
                <button id="my-groups" class="btn btn-primary dropdown-button">My groups</button>
                <button id="logout-button" class="btn btn-primary dropdown-button">Logout</button>
            </div>
        </div>
    </div>
</nav>
<section>
    <div class="container text-center mt-5">
        <h1 class="popular-events-title" id="popular-events-header">Popular Events You May Like:</h1>
    </div>
</section>





